:root{
    --gameW:calc(100vw - 2*var(--w1));
    --gameH:calc(100vh - 2*var(--h1));
}

.game-supra-container{
    height: var(--gameH);
    max-width: var(--gameW);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .game-supra-container {
        transform: 
            translateX(calc(var(--gameW) * -0.5))
            translateY(calc(var(--gameH) * -0.5))
            rotate(90deg) 
            translateX(calc(var(--gameH) * 0.5 ))
            translateY(calc(var(--gameW) * -0.5 ));
        
        height: var(--gameW);
        max-height: var(--gameW);
        width: var(--gameW);
        max-width: var(--gameW);
    }
} 


.game-container{
    border-color:var(--darkblue);
    background-color: var(--white);
    color:var(--darkblue);
    
    width: 100%;
    max-width: var(--gameW);
    
    overflow: hidden;    
}



.top{
    height: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.top .goal{
   background-color: var(--lightyellow);
   font-size:var(--w8);
   padding: var(--w8);
   height: 100%;
}
.middle{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--lightyellow);
    filter: brightness(1.2);
}

.letter{
    color:var(--darkblue);
    border-bottom: var(--w2) solid var(--darkblue);
    font-weight: bold;
    padding-bottom: var(--w1);
    font-size: var(--w8);
    width: var(--w8);
    transition-duration: var(--duration);
    height: var(--w16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letter.caret{
    background-color: var(--darkblue);
    border-bottom-color: var(--lightyellow);
}

.win{
   --lightyellow:var(--blue);
}

@keyframes Flicker{
  0%,100%   { opacity: 0; }
  15%,85%   { opacity: 1; }
}

.caret {
  -webkit-animation: Flicker 5s infinite; /* Safari 4+ */
  -moz-animation:    Flicker 5s infinite; /* Fx 5+ */
  -o-animation:      Flicker 5s infinite; /* Opera 12+ */
  animation:         Flicker 5s infinite; /* IE 10+, Fx 29+ */
}

