.game-supra-container:fullscreen .gameContainer{
 left:0;
 right:0;
 top:0;
 bottom:0;
}
.game-supra-container:full-screen .gameContainer{
 left:0;
 right:0;
 top:0;
 bottom:0;
}

.rotate90 .gameContainer{
    top: 0;
    bottom:calc(20px + var(--w1));
    left: 0;
    right: 0;
}

.rotate90 #gameCanvas{
    height:calc(var(--gameW) - 20px - var(--w1));
}
.footer{
    position: unset;
    margin-top: -10px;
}