.mobile-menu {
	background-color: var(--darkblue);
	font-family: Arial;
	position: absolute;
	top: var(--vspace);
	font-weight: bold;
	font-size: 3vw;
	width: 80vw;
	margin-left: 5vw;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	background: var(--tblack);
	border-bottom: 4px solid var(--white);
	color: var(--white);
}

.mobile-menu .close {
	background: var(--tblack);
	border: 2px solid var(--white);
	color: var(--white);
	left: -18px;
	width: 18px;
	top: 0px;
	border-right: 0;
}

.mobile-menu .p-button {
	justify-content: center;
	align-items: center;
	display: flex;
	line-height: 1;
	padding: 4vh 0%;
	max-width: 25%;
	flex-grow: 1;
}

.mobile-menu .clear {
	clear: both;
}
.tab-affordance,
.close-affordance {
	width: 4em;
	height: 2em;
	position: absolute;
	z-index: 1000;
}
.tab-affordance {
	left: -2em;
	top: 55px;
}
.close-affordance {
	left: -4em;
	top: -1em;
}

.tab-icon,
.mobile-menu .close {
	height: 48px;
	position: absolute;
}

.tab-icon {
	left: -0.5em;
	top: 70px;
	width: 18px;
	background: var(--darkblue);
	border-bottom: 4px solid var(--white);
	color: var(--white);
	border-left: 0;
}

.tab-icon .slice,
.mobile-menu .close .slice {
	margin: 4.5px 1px;
	width: 2px;
	height: 80%;
	background: var(--white);
}
.tab-icon .slice {
	float: right;
}
.tab-icon .slice:first-child {
	margin-right: 4.5px;
}
.mobile-menu .close .slice {
	float: left;
}
.mobile-menu .close .slice:first-child {
	margin-left: 4.5px;
}
.disable-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
