/*
												*/
:root {
  Game Bar Theme by Pedro PSI
  https://pedropsi.github.io/puzzlescript-game-bar#source
  ///////////////////////////////////////////////////////////////////////////////
  MIT License
#gameCanvas{
    position:unset;
    max-height:96vh;
    width:100%;
}
.game-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
	font-family:var(--font);
}
.game-container:fullscreen #gameCanvas{
    height:calc(96vh);
}
.game-container:full-screen #gameCanvas{
    height:calc(96vh);
}
@media only screen and (max-width:330px) {
    .game-container:fullscreen #gameCanvas{
        height:calc(94vh);
    }
    .game-container:full-screen #gameCanvas{
        height:calc(94vh);
    }
}
/*Correct footer in PS export*/
.footer{
	top:93%;
	bottom:7%;
}
    --t:0.90;
    --white:rgba(255,255,255,var(--t));         /*#FFF*/
    --smokewhite: rgba(241,241,241,var(--t))    /*#f1f1f1*/;
    --darkblue: rgba(7,0,112,var(--t))          /*#070070*/;
    --blue: rgba(0,15,255,var(--t))             /*#000FFF*/;
    --lightblue: rgba(25,130,237,var(--t))      /*#1982ed*/;
    --turquoise: rgba(59,248,222,var(--t))      /*#3bf8de*/;
    --green: rgba(70,244,111,var(--t))          /*#46f46f*/;
    --yellow: rgba(240,248,175,var(--t))        /*#f0f8af*/;
    --lightyellow: rgba(255,249,201,var(--t))   /*#fff9c9*/;
    --duration:1s;
  --font:Arial, sans-serif;
    --scaling:2;
    --basis-width:calc(1vw);
    --basis-height:calc(1vh);
    --w1 :var(--basis-width);
    --w2 :calc(var(--w1)  * var(--scaling));
    --w4 :calc(var(--w2)  * var(--scaling));
    --w8 :calc(var(--w4)  * var(--scaling));
    --w16:calc(var(--w8)  * var(--scaling));
    --w32:calc(var(--w16) * var(--scaling));
    --w64:calc(var(--w32) * var(--scaling));
    --w-2:calc(var(--w1)  / var(--scaling));
    --w-4:calc(var(--w-2) / var(--scaling));
    --w-8:calc(var(--w-4) / var(--scaling));
    --h1:var(--basis-height);
    --h2 :calc(var(--h1)  * var(--scaling));
    --h4 :calc(var(--h2)  * var(--scaling));
    --h8 :calc(var(--h4)  * var(--scaling));
    --h16:calc(var(--h8)  * var(--scaling));
    --h32:calc(var(--h16) * var(--scaling));
    --h64:calc(var(--h32) * var(--scaling));
    --h-2:calc(var(--h1)  / var(--scaling));
    --h-4:calc(var(--h-2) / var(--scaling));
    --h-8:calc(var(--h-4) / var(--scaling));
}
body{
 margin: unset;  
}

@media only screen and (max-width:500px){
    body{
       word-break:break-all;
    }
}

.balloon *, .buttonbar{
    font-size:calc(10px + var(--w-2));
    line-height:calc(12px + var(--w-2));
    max-width:100%;
    max-height:100%;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    border-color:currentColor;
    border-width:var(--h-2);
    color:var(--darkblue);
}

.button:hover,.button:active,.button:focus,
.button:hover a,.button:active a,.button:focus a,
.selected{
    color:var(--turquoise);
    text-decoration-color:currentColor;
    text-decoration-style:solid ;
    background-color:var(--darkblue);
    transition-duration:var(--duration);
    cursor:pointer;
    outline:none;
}

    font-variant-caps: small-caps;
    font-weight: bold;
    max-width: 100%;
    font-size: calc(130% * var(--scaling));
    line-height: calc(110% + 20% * var(--scaling));
    margin-bottom: calc(var(--h2) * var(--scaling));
    margin-top: calc(var(--h4) * var(--scaling));
    text-decoration: underline;
}
h4{
    --scaling:0.85;
    text-decoration-color: var(--lightblue);
}


.game-container{
    align-items: center;
    margin-bottom:var(--h1)
}

.game {
    width: 100%;
    touch-action: none;
}

#gameCanvas {
    height:calc(87vh);
    width: 100%;
}
.game-container:fullscreen #gameCanvas{
    height:calc(96vh);
}
.game-container:full-screen #gameCanvas{
    height:calc(96vh);
}
@media only screen and (max-width:330px) { /*space for the responsive button bar*/
    .game-container:fullscreen #gameCanvas{
        height:calc(94vh);
    }
    .game-container:full-screen #gameCanvas{
        height:calc(94vh);
    }
}

::-selection{
    background:var(--smokewhite);
    color:var(--blue);
}
::-moz-selection{
    background:var(--smokewhite);
    color:var(--blue);
}
@media only screen and (max-width:350px){
    .buttonbar{
       word-break:break-all;
    }
}


.button{
    background-color: var(--smokewhite);
    max-width:80%;
    text-align: center;
    color:var(--blue);
    border-bottom-style: solid;
    padding:var(--h-2) var(--w2) var(--h-2) var(--w2);
    margin:var(--h1) var(--w2) var(--h1) var(--w1);
    align-self: center;
    font-weight: bold;  
    transition-duration: var(--duration);
}
.button a {
    text-decoration: none;
    color: inherit;
    transition-duration: var(--duration);
}

.button:hover a,.button:active a,.button:focus a{
    background-color: transparent;
    transition-duration: var(--duration);
}

.closer{
    width:100%;
    flex-direction:row;
    justify-content:flex-end;
}

.closer .button{
    border: unset;
    padding:var(--h2) var(--w2) var(--h2) var(--w2);
    margin: unset;
    font-size: 300%;
}

.modal .closer .button:hover,
.modal .closer .button:active,
.modal .closer .button:focus{
    background-color: var(--darkblue);
    color: var(--turquoise);
}

.balloon{
    position:absolute;
    bottom:var(--h16);
    right:var(--w4);
    max-width: 80%;
    max-height: 80%;
    animation: fadein var(--duration);
}
.baloon-content{
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--white);
    border-bottom: var(--h1) solid var(--turquoise);
    padding:var(--h2) var(--w2) var(--h2) var(--w2);
    align-items: center;
}
.baloon-content .avatar {
    max-width:calc(var(--w4) + 30px);
    background-color: var(--transparent);
}

.baloon-content .subtitle {
	margin-left: var(--w1);
    padding: var(--h1)  var(--w1)  var(--h1)  var(--w1);  
    min-width: calc(var(--w4) + 30px);
    background-color: var(--smokewhite);
}

.buttonrow {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: var(--w4);
    margin-right:var(--w4);
    justify-content: center;
    align-items: flex-end;
    
}

.buttonrow .button {
    font-size: 100%;
    margin:unset;
    align-self: stretch;
    background-color: var(--white);
}

.buttonrow .button:hover,
.buttonrow .button:active,
.buttonrow .button:focus{
    background-color: var(--darkblue);
    border-bottom-color: currentColor;
    color:var(--turquoise);
}


.buttonbar{
    margin-top: 0;
    justify-content: space-evenly;
    flex-wrap:nowrap;
    background-color: var(--white);
    width: 100%;
    margin:unset
}

.buttonbar .button{
    flex-grow: 1;
    border-bottom-width: var(--h-2);
}

@media only screen and (max-width:330px) {
    .buttonbar{
        flex-wrap:wrap;
    }
}

.selected.button {
  	background-color: var(--blue);
    border-color: currentColor;
    color: var(--turquoise);   
}

#Console {
    pointer-events: none;
	position:fixed;
	top:0;
	margin-top: var(--h1);
	width: 100%;
	z-index: 1000;
}

#Console .message{
    pointer-events:all;
    background-color: var(--lightyellow); 
    color: var(--lightblue);
    border-bottom:var(--h1) solid currentColor; 
    margin-bottom:var(--h2);

.closing {
  	opacity: 0;
	transition: opacity var(--duration) ease-in-out;
    -moz-transition: opacity var(--duration) ease-in-out;
    -webkit-transition: opacity var(--duration) ease-in-out;
    -o-transition: opacity var(--duration) ease-in-out;
    -ms-transition: opacity var(--duration) ease-in-out;
}

.opening {
  	opacity: 1;
	transition: opacity var(--duration) ease-in-out;
    -moz-transition: opacity var(--duration) ease-in-out;
    -webkit-transition: opacity var(--duration) ease-in-out;
    -o-transition: opacity var(--duration) ease-in-out;
    -ms-transition: opacity var(--duration) ease-in-out;
}

    padding:var(--h1) var(--w2) var(--h1) var(--w2);
    font-weight:bold;
}
}
.button.pulsating,
.button.pulsating:hover,
.button.pulsating:active,
.button.pulsating:focus{
    background-color: var(--blue);
    --duration:0.001s;
}
.nowrap{
    flex-wrap: nowrap;
}
.hint {
    margin: var(--w-2) var(--h-2) var(--w-2) var(--h-2);
    align-items: center;
}
.hint img,
.hint canvas{
    max-height: var(--w32);
    max-width: var(--w32);
    object-fit:scale-down;
    padding: 0;
    margin: var(--w-4) var(--h-4) var(--w-4) var(--h-4);
    background-color: var(--darkblue);
    color: var(--white);
}
kbd {
    border: var(--w-8) solid var(--darkblue);
    border-bottom-width: var(--h-2);
    border-top-width: var(--h-8);
    padding: var(--h-4) var(--w-2) var(--h-4) var(--w-2);
    font-weight: bold;
    line-height: calc(12px + var(--w-2) + var(--h2) + var(--h1));
    font-family: Arial;
}
.hideCursor{
    cursor:none;
}
.hidden{
    display: none;
}

.hint *:active,.hint *:focus{
    filter:brightness(0.8);
    transition-duration: var(--duration);
}